<!DOCTYPE html>
<html dir="rtl">
<section>
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">

        <div class="card-header">
          <h3 class="card-title">معلومات العمل </h3>
        </div>
        <!--card body-->
        <div class="card-body">
          <form (ngSubmit)="submit()" [formGroup] = "form">
            <div class="form-group">
              <label for="name">اسم العمل </label>
              <input class="form-control" formControlName="name" id="name" type="text">
            </div>

            <div class="form-group">
                <label for="description">التفاصيل  </label>
                <input class="form-control" formControlName="name" id="description" type="text">
              </div>
              

            <div class="form-group">
              <label for="image">الصورة</label>
              <input class="form-control" formControlName="image" id="image" type="text">
            </div>
            <!-- /.card-body -->
          </form>
        </div>
        <!-- /.card -->

      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <a (click)="dialogRef.close()" class="btn btn-secondary">إلغاء</a>
          <input (click)="saveWork()" class="btn btn-success float-right" type="submit"
                 value="إضافة">
        </div>
      </div>

    </div>

  </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

</html>

